
{% extends "base.html" %}

  {% block head %}
  {{super()}}
  {% endblock %}


{% block body %}

<!--发布微博界面-->

<div class="container">
      <div class="row">
      <div class="col-md-2">
           <form action="{{ url_for('out_info',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">用户资料</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('post_myweibo',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">发布微博</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('get_myweibo', userid = userid)}}" method="get">
          <button  type="submit" class="btn btn-success btn-lg btn-block ">我的微博</button>
          </form>
          </div>
         <div class="col-md-2">
           <form action="{{ url_for('get_recommand_friends',userid = userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">推荐好友</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('get_friends',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">我的好友</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('get_friend_weibos',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">好友微博</button>
            </form> 
          </div>
        </div> 
<br>
<form action="{{ url_for('get_myweibo', userid = userid) }}" method="get">  

<ul class="container">

    {% for weibo in weibos %}
<div class = "container" style="border:2px solid Black">
  <div class="row">
    <div class="col-md-2" >
<br>
      <img src="http://www.sucaijishi.com/uploadfile/2014/0524/20140524012044610.jpg" height="100" width="100">
    </div>
    <div class="col-md-10" >
      <br style="font-size:100%">
      <h3><span style="font-size:60%" id="weibo_id">微博id：{{userid}}</span></h3>
            <h3><span style="font-size:60%" id="weibo_date">发布时间：{{weibo.date.value}}</span></h3>
    </div>
  </div>
  <hr>
  <h4> &nbsp;微博内容</h4>
  <p > &nbsp; <span id="weibo">{{weibo.text.value}}</span></p>

  <div class="row">
    <div class="col-sm-8"></div>
        <div class="col-sm-2">
          <button >赞数：{{weibo.zan_num.value}}</button>
        </div>
    <div class="col-sm-2">
          <button >评论数：{{weibo.comment_num.value}}</button>
        </div>
</div>
<br>
</div>
<br>       
    {% endfor %}

</ul>
</form>
</div>

{% endblock %}


