
{% extends "base.html" %}

  {% block head %}
  {{super()}}
  {% endblock %}


{% block body %}

<!--发布微博界面-->

<div class="container">
  <div class="row">
      <div class="col-md-2">
           <form action="{{ url_for('out_info',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">用户资料</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('post_myweibo',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">发布微博</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('get_myweibo', userid = userid,weibos=weibos)}}" method="get">
          <button  type="submit" class="btn btn-default btn-lg btn-block ">我的微博</button>
          </form>
          </div>
         <div class="col-md-2">
           <form action="{{ url_for('get_recommand_friends',userid = userid)}}" method="get">
         <button  type="submit" class="btn btn-success btn-lg btn-block ">推荐好友</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('get_friends',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">我的好友</button>
            </form> 
          </div>
          <div class="col-md-2">
           <form action="{{ url_for('get_friend_weibos',userid=userid)}}" method="get">
         <button  type="submit" class="btn btn-default btn-lg btn-block ">好友微博</button>
            </form> 
          </div>
        </div> 


<form action="{{ url_for('get_recommand_friends',userid = userid) }}" method="get">  
<div class="row">
<br>
</div>
<ul class="container">
    {% for recommandfriend in recommandfriends %}
    
 <!--<li class="page-header">-->
<div class="container">
<div class="row">
<div class="col-sm-2" >
<br>
<img src="http://www.sucaijishi.com/uploadfile/2014/0524/20140524012044610.jpg" width="100" height="99.5" style="margin-left:200">
<br><br>
</div>
<div class="col-sm-6" >
<br style="font-size:250% ;">
<p id="userid2content" style="font-size:100% ;">{{recommandfriend.friendid.value}}</p >
<p style="font-size:150%;"><span id="weibos">{{recommandfriend.username.value}}</span></p >
<br>
</div>
<div class="col-sm-1" style="text-align:center">
<br style="font-size:250% ;">
<p style="font-size:100% ;">粉丝</p >
<p style="font-size:150%;" id = "fans" title="关注他的人">{{recommandfriend.followersnum.value}}</p >
<br>
</div>
<div class="col-sm-1" style="text-align:center">
<br style="font-size:250% ;">
<p style="font-size:100% ;">关注</p >
<p style="font-size:150%;"  title="他关注的人">{{recommandfriend.friendsnum.value}}</p >
<br>
</div>
<div class="col-sm-2" style="text-align:center">
<br style="font-size:300% ;">

<form action="{{ url_for('follow_friends',userid=userid,userid2=recommandfriend['friendid']['value'])}}" method="get">
<button  type="submit" class="btn btn-default">关注</button>
</form>
<br style="font-size:390% ;">
</div>

</div>

</div>
<hr>
{% endfor %}
</ul>
</form>
</div>


{% endblock %}


